<h2>Mascotas</h2>

<div class="mascotas-container">

  <button class="btn" (click)="toggleModal()">Agregar</button>

  <div class="modal-overlay" *ngIf="mostrarModal">
    <div class="modal-content">
      <app-registrar-mascota
        (registrarMascota)="onConfirmRegistrarMascota($event)"
        (cerrarModal)="toggleModal()"
      ></app-registrar-mascota>
    </div>
  </div>

  <div class="buscador">
    <input
      type="text"
      [(ngModel)]="nroHistFiltro"
      (input)="findAnimales()"
      placeholder="Buscar por historia clínica"
      class="search-input"
    />
  </div>

  <div class="tarjetas">
    <app-mascota-card
      *ngFor="let animal of animales"
      [animal]="animal"
      (delete)="toggleDeletePopup($event)"
    ></app-mascota-card>
  </div>

<h1>Integrar con backend, tiene que buscar mascotas del cliente logueado, hacer card y popup</h1>