<h2>Mascotas</h2>

<div class="mascotas-container">

  <button class="btn" (click)="toggleModal()">Agregar</button>

  <div class="modal-overlay" *ngIf="mostrarModal">
    <div class="modal-content">
      <app-registrar-mascota
        (cerrarModal)="toggleModal()"
      ></app-registrar-mascota>
    </div>
  </div>

  <div class="tarjetas">
    <app-mascota-card
      *ngFor="let mascota of mascotas"
      [mascota]="mascota"
    ></app-mascota-card>
  </div>

  <!-- Paginación, se podría mejorar según las necesidades -->
  <div class="pagination">
    <button class="button">&lt;</button>
    <span>1 / 1</span>
    <button class="button">&gt;</button>
  </div>
</div>

<h1>Integrar con backend, tiene que buscar mascotas del cliente logueado, hacer card y popup</h1>