<h2>Mascotas</h2>

<div class="mascotas">

  <button class="btn" (click)="toggleCreatePopup()">Nuevo</button>

  <div>
    <input type="text" [(ngModel)]="nomFilter" (input)="findMascotas()" placeholder="Buscar por nombre"
      class="search-input" />
  </div>

  <div *ngFor="let animal of mascotas">
    <app-mascota-card [animal]="animal" (edit)="toggleUpdatePopup($event)" (delete)="toggleDeletePopup($event)" (select)="toggleSelectPopup($event)">
    </app-mascota-card>
  </div>

<!--create-->
<app-mascota-popup [(display)]="displayCreatePopup" (confirm)="onConfirmCreate($event)" title="Crear mascota"></app-mascota-popup>

<!--update-->
<app-mascota-popup [mascota]="selected" [(display)]="displayUpdatePopup" (confirm)="onConfirmUpdate($event)" title="Editar mascota"></app-mascota-popup>

<app-mascota-ver-popup [animal]="selected" [(display)]="displaySelectPopup"></app-mascota-ver-popup>

<p-toast></p-toast>