<p-dialog [title]="title" [(visible)]="display" [modal]="true" [closable]="false">

    <div class="column gap-1 form-wrapper" [formGroup]="breedForm">

        <div class="row gap-05">
            <span class="label">Descripción:</span>
            <input type="text" formControlName="descripcion">
        </div>

        <div class="row gap-05">
            <label for="idEspecie">Especie:</label>
            <select id="idEspecie" formControlName="idEspecie">
              <option *ngFor="let especie of species" [value]="especie.codEspecie">
                {{ especie.descripcion }}
              </option>
            </select>
        </div>

    </div>

    <p-footer>
        <button type="button" class="btn" (click)="onConfirm()" [class.disabled]="!breedForm.valid">Confirmar</button>

        <button type="button" class="cancel" (click)="onCancel()">Cancelar</button>
    </p-footer>

</p-dialog>
