<div class="atenciones">
  <h2>Atenciones</h2>

  <!--falta boton para crear nueva entidad precioAtencion-->

  <div class="filter">
    <label for="filter-date">Filtrar por fecha: </label>
    <input
      type="date"
      id="filter-date"
      [(ngModel)]="selectedDate"
      (change)="filterAtencionesByDate()"
    />
  </div>

  <div *ngIf="filteredAtenciones.length > 0; else noAtenciones">
    <div *ngFor="let atencion of filteredAtenciones">
      <app-atencion-admin-card
        [atencion]="atencion"
        [mascota]="atencion.animal?.nombre || 'Sin nombre'"
        [fecha]="atencion.fechaHora"
        [resultado]="atencion.resultado"
        [observaciones]="atencion.observaciones"
        [precioAtencion]="atencion.precioAtencion?.valor ?? 0"
        (edit)="toggleUpdatePopup($event)"
        (delete)="toggleDeletePopup($event)"
      ></app-atencion-admin-card>
    </div>
  </div>

  <ng-template #noAtenciones>
    <p>No hay atenciones para la fecha seleccionada.</p>
  </ng-template>

<!--create, no esta siendo usado-->
<app-atencion-admin-popup [(display)]="displayCreatePopup" (confirm)="onConfirmCreate($event)" title="Crear atencion"></app-atencion-admin-popup>

<!--update-->
<app-atencion-admin-popup [atencion]="selected" [(display)]="displayUpdatePopup" (confirm)="onConfirmUpdate($event)" title="Editar atencion"></app-atencion-admin-popup>