<div class="atenciones">
  <h2>Atenciones</h2>

  <aside>
    <h3>Precio de atención actual: $<strong>{{ precioAtencionActual?.valor || 'No disponible' }}</strong></h3><br>
    <button class="btn" (click)="toggleActualizarAtencionPopup()">Actualizar precio de atención</button>
  </aside>

  <div class="filter">
    <label for="filter-date">Filtrar por fecha: </label>
    <input
      type="date"
      id="filter-date"
      [(ngModel)]="selectedDate"
      (change)="filterAtencionesByDate()"
    />
  </div>

  <div *ngFor="let atencion of filteredAtenciones">
    <app-atencion-admin-card
      [atencion]="atencion"
      [mascota]="atencion.animal?.nombre || 'Sin nombre'"
      [fecha]="atencion.fechaHora"
      [resultado]="atencion.resultado"
      [observaciones]="atencion.observaciones"
      [valor]="atencion.valor"
      [precioAtencion]="atencion.precioAtencion?.valor ?? 0"
      (edit)="toggleUpdatePopup($event)"
      (delete)="toggleDeletePopup($event)"
      (select)="toggleSelectPopup($event)"
    ></app-atencion-admin-card>
  </div>

<!--update-->
<app-atencion-admin-popup [atencion]="selected" [(display)]="displayUpdatePopup" (confirm)="onConfirmUpdate($event)" title="Editar atencion"></app-atencion-admin-popup>

<app-atencion-admin-ver-popup [atencion]="selected" [(display)]="displaySelectPopup"></app-atencion-admin-ver-popup>

<app-precio-atencion-popup [(display)]="displayActualizarAtencionPopup" (confirm)="onConfirmActualizarPrecioAtencion($event)" title="Crear atencion"></app-precio-atencion-popup>

<p-toast></p-toast>