<div class="atenciones">
  <h2>Atenciones</h2>

  <!--falta boton para crear nueva entidad precioAtencion-->

  <div *ngFor="let atencion of atenciones">
    <app-atencion-admin-card
      [atencion]="atencion" (edit)="toggleUpdatePopup($event)" (delete)="toggleDeletePopup($event)"
    >
    </app-atencion-admin-card>
  </div>

  <div class="pagination">
    <button>&lt;</button>
    <span>1 / 1</span>
    <button>&gt;</button>
  </div>
</div>

<!--create, no esta siendo usado-->
<app-atencion-admin-popup [(display)]="displayCreatePopup" (confirm)="onConfirmCreate($event)" title="Crear atencion"></app-atencion-admin-popup>

<!--update-->
<app-atencion-admin-popup [atencion]="selected" [(display)]="displayUpdatePopup" (confirm)="onConfirmUpdate($event)" title="Editar atencion"></app-atencion-admin-popup>