<h2>Clientes</h2>

<div class="clientes">
    <button class="btn" (click)="toggleCreatePopup()">Agregar</button>
  
    <div *ngFor="let cliente of clientes">
      <app-cliente-card [cliente]="cliente" (edit)="toggleUpdatePopup($event)" (delete)="toggleDeletePopup($event)">
      </app-cliente-card>
    </div>
  
    <div class="pagination">
      <button>&lt;</button>
      <span>1 / 1</span>
      <button>&gt;</button>
    </div>
  </div>


<!--create-->
<app-cliente-popup [(display)]="displayCreatePopup" (confirm)="onConfirmCreate($event)" title="Crear cliente"></app-cliente-popup>

<!--update-->
<app-cliente-popup [cliente]="selected" [(display)]="displayUpdatePopup" (confirm)="onConfirmUpdate($event)" title="Editar cliente"></app-cliente-popup>

  