.wrapper {
  width: 100%;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);
  background-color: white;

  position: static; //cambiar a fixed y arreglar las pantallas
  top: 0;

  a {
    text-decoration: none;
    font-weight: 300;
    color: black;

    &.active {
      font-weight: 900;
    }
  }

  .img {
    height: 2.5rem;
    cursor: pointer;
  }
}