<h2>Especies</h2>

<div class="especies">

  <button class="btn" (click)="toggleCreatePopup()">Nuevo</button>
  <button class="btn" routerLink="/razas">Razas</button>

  <div>
    <input
      type="text"
      [(ngModel)]="especieFiltro"
      (input)="findEspecies()"
      placeholder="Buscar por descripción"
      class="search-input"
    />
  </div>

  <div *ngFor="let especie of especies">
    <app-especie-card [especie]="especie"
    (delete)="toggleDeletePopup($event)">
    </app-especie-card>
  </div>

<!--create-->
<app-especie-popup [(display)]="displayCreatePopup" (confirm)="onConfirmCreate($event)" title="Crear especie"></app-especie-popup>

<!--update-->
<app-especie-popup [especie]="selected" [(display)]="displayUpdatePopup" (confirm)="onConfirmUpdate($event)" title="Editar especie"></app-especie-popup>
