<h2>Especies</h2>

<div class="especies">

  <!--Crear vet-->
  <button class="btn" (click)="toggleCreatePopup()">Nuevo</button>

  <div *ngFor="let especie of especies">
    <app-especie-card [especie]="especie"
    (verRazasClick)="cargarRazas($event)"
    (delete)="toggleDeletePopup($event)">
    </app-especie-card>
  </div>

  <div class="pagination">
    <button>&lt;</button>
    <span>1 / 1</span>
    <button>&gt;</button>
  </div>
</div>

<!--create-->
<app-especie-popup [(display)]="displayCreatePopup" (confirm)="onConfirmCreate($event)" title="Crear especie"></app-especie-popup>

<!--update-->
<app-especie-popup [especie]="selected" [(display)]="displayUpdatePopup" (confirm)="onConfirmUpdate($event)" title="Editar especie"></app-especie-popup>
