.atencion-card {
  background-color: #e0f7fa;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h3 {
    margin: 0;
    text-align: center;
  }

  p {
    margin: 0.5rem 0;
  }
}
