<div class="atenciones">
  <h2>Atenciones</h2>

  <div *ngFor="let atencion of atenciones">
    <app-atencion-card
      [mascota]="atencion.animal?.nombre || 'Sin nombre'"
      [fecha]="atencion.fechaHora"
      [observaciones]="atencion.observaciones"
      [precioAtencion]="atencion.precioAtencion?.valor ?? 0"
    >
    </app-atencion-card>
  </div>
  
  

  <div class="pagination">
    <button>&lt;</button>
    <span>1 / 1</span>
    <button>&gt;</button>
  </div>
</div>

<h1>Integrar con backend</h1>
