<div class="atenciones">
  <h2>Atenciones</h2>

  <div class="filter">
    <label for="filter-date">Filtrar por fecha: </label>
    <input
      type="date"
      id="filter-date"
      [(ngModel)]="selectedDate"
      (change)="filterAtencionesByDate()"
    />
  </div>

  <div *ngFor="let atencion of filteredAtenciones">
    <app-atencion-card
    [atencion]="atencion"
    [mascota]="atencion.animal?.nombre || 'Sin nombre'"
    [fecha]="atencion.fechaHora"
    [resultado]="atencion.resultado"
    [observaciones]="atencion.observaciones"
    [valor]="atencion.valor"
    [precioAtencion]="atencion.precioAtencion?.valor ?? 0"
    (select)="toggleSelectPopup($event)"
  >
  </app-atencion-card>
  </div>

  <app-atencion-ver-popup [atencion]="selected" [(display)]="displaySelectPopup"></app-atencion-ver-popup>
