<div class="atencion-admin-card">
  <!--deberia ir el nombre de la mascota o el cliente-->
  <h3>{{ atencion.fechaHora }}</h3>
  <p><strong>Resultado:</strong> {{ atencion.resultado }}</p>
  <p><strong>Observaciones:</strong> {{ atencion.observaciones }}</p>

  <div class="actions">
    <button type="button" class="btn">Ver</button>

    <button type="button" (click)="editAtencion()" class="edit">Editar</button>

    <button type="button" (click)="confirmDelete()" #deleteButton class="delete">Eliminar</button>
  </div>

</div>

<p-confirmPopup></p-confirmPopup>