<div class="atencion-admin-card">
  <h3>{{ mascota }}</h3>
  <p><strong>Fecha:</strong> {{ fecha | date: 'dd/MM/yyyy HH:mm' }}</p>
  <p><strong>Resultado:</strong> {{ resultado }}</p>
  <p><strong>Valor:</strong> ${{ valor }}</p>

  <div class="actions">
    <button type="button" class="btn">Ver</button>

    <button type="button" (click)="editAtencion()" class="edit">Editar</button>

    <button type="button" (click)="confirmDelete()" #deleteButton class="delete">Eliminar</button>
  </div>

</div>

<p-confirmPopup defaultFocus="none" styleClass="p-confirmPopup"></p-confirmPopup>