<div class="cliente-card">
    <h3>{{ nombre }}{{ " "}}{{ apellido }}</h3>
    <p><strong>DNI:</strong> {{ dni }}</p>
    <p><strong>Nombre:</strong> {{ nombre }}</p>
    <p><strong>Apellido:</strong> {{ apellido }}</p>
    <p><strong>Teléfono:</strong> {{ telefono }}</p>
    <p><strong>Dirección:</strong> {{ direccion }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <div class="acciones">
      <button class="btn btn-delete">Eliminar</button>
      <button class="btn btn-edit">Editar</button>
    </div>
  </div>
  