<div class="cliente-card">
    <h3>{{ nombre }}{{ " "}}{{ apellido }}</h3>
    <p><strong>DNI:</strong> {{ dni }}</p>
    <!---
    <p><strong>Nombre:</strong> {{ nombre }}</p>
    <p><strong>Apellido:</strong> {{ apellido }}</p>
    <p><strong>Teléfono:</strong> {{ telefono }}</p>
    <p><strong>Dirección:</strong> {{ direccion }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
-->
    <div class="actions">
      <button class="btn">Ver</button>
      <button class="edit">Editar</button>
      <button class="delete">Eliminar</button>
    </div>
  </div>