<div class="cliente-card">
    <h3>{{ cliente.nombreYApellido }}</h3>
    <p><strong>DNI:</strong> {{ cliente.dni }}</p>

    <div class="actions">
      <button type="button" (click)="selectCliente()" class="btn">Ver</button>
  
      <button type="button" (click)="editCliente()" class="edit">Editar</button>
  
      <button type="button" (click)="confirmDelete()" #deleteButton class="delete">Eliminar</button>
    </div>
  </div>

<p-confirmPopup defaultFocus="none" styleClass="p-confirmPopup"></p-confirmPopup>

<p-toast></p-toast>