<div class="menu-container">

  <div class="content">
    <img class="img" src="gears.svg" alt="Gestion">
    <h2>Gestión</h2>

    <div class="grid-button-group">
      <button class="btn" routerLink="/atenciones-admin">ATENCIONES</button>
      <button class="btn" routerLink="/clientes">CLIENTES</button>
      <button class="btn" routerLink="/especies">ESPECIES</button>
      <button class="btn" routerLink="/insumos">INSUMOS</button>
      <button class="btn" routerLink="/veterinarios">VETERINARIOS</button>
      <button class="btn salir" routerLink="/admin">VOLVER</button>
    </div>


  </div>
</div>

<h1>para cada lista tiene que andar el boton de ver, 
  acomodar los campos de contraseÑas y fechas (usar PrimeNG), 
  falta la entidad PrecioInsumo, (busqueda por matricula en veterinarios), 
  ver las razas de cada especie en vez de todas juntas</h1>