<div class="menu-container">

  <div class="content">
    <div class="image-placeholder">
      <!-- ... -->
    </div>
    <h2>Gestión</h2>

    <div class="grid-button-group">
      <button class="btn" routerLink="/atenciones-admin">ATENCIONES</button>
      <button class="btn" routerLink="/clientes">CLIENTES</button>
      <button class="btn" routerLink="/especies">ESPECIES</button>
      <button class="btn" routerLink="/insumos">INSUMOS</button>
      <button class="btn" routerLink="/veterinarios">VETERINARIOS</button>
      <button class="btn salir" routerLink="/admin">VOLVER</button>
    </div>


  </div>
</div>