.grid-button-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px
}

.img {
  height: 50vw;
}

@media (min-width: 650px) {
  .grid-button-group {
  grid-template-columns: repeat(3, 1fr);
  }
  .img {
    height: 35vh;
  }
}