<div class="login-container">
  <h1>Iniciar Sesión</h1>

  <form (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="username">Nombre de usuario</label>
      <input 
        [(ngModel)]="loginData.usuario"
        name="username" 
        id="username" 
        required />
    </div>

    <div class="input-group">
      <label for="password">Contraseña</label>
      <input
        [(ngModel)]="loginData.password"
        name="password"
        type="password"
        id="password"
        required
      />
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    

    <button type="submit" class="btn">Iniciar Sesión</button>
  </form>

  <br>
  <button class="btn" (click)="toggleCreatePopup()">Registrar Nuevo Cliente</button>

</div>

<app-signin-popup [(display)]="displayCreatePopup" (confirm)="onConfirmCreate($event)" title="Crear especie"></app-signin-popup>


<h1>
   token JWT, opcional hacer formulario de registro de clientes, sacar paginación (es con el backend)
  y poner búsquedas en todos los casos, sacar comentario de app.component cuando esté todo terminado</h1>
