<h2>Veterinarios</h2>

<div class="veterinarios">

  <!--Crear vet-->
  <button class="btn" (click)="toggleCreatePopup()">Nuevo</button>

  <div>
    <input type="text" [(ngModel)]="matFilter" (input)="findVeterinarios()" placeholder="Buscar por matricula"
      class="search-input" />
  </div>

  <div *ngFor="let veterinario of veterinarios">
    <app-veterinario-card [veterinario]="veterinario" (edit)="toggleUpdatePopup($event)" (delete)="toggleDeletePopup($event)" (select)="toggleSelectPopup($event)">
    </app-veterinario-card>
  </div>

<!--create-->
<app-veterinario-popup [(display)]="displayCreatePopup" (confirm)="onConfirmCreate($event)" title="Crear veterinario"></app-veterinario-popup>

<!--update-->
<app-veterinario-popup [veterinario]="selected" [(display)]="displayUpdatePopup" (confirm)="onConfirmUpdate($event)" title="Editar veterinario"></app-veterinario-popup>

<app-veterinario-ver-popup [veterinario]="selected" [(display)]="displaySelectPopup"></app-veterinario-ver-popup>

<p-toast></p-toast>