<h2>Veterinarios</h2>

<div class="veterinarios">

  <!--Crear vet-->
  <button class="btn" (click)="toggleCreatePopup()">Nuevo</button>

  <div>
    <input type="text" [(ngModel)]="matFiltro" (input)="findVeterinarios()" placeholder="Buscar por Matricula"
      class="search-input" />
  </div>

  <div *ngFor="let veterinario of veterinarios">
    <app-veterinario-card [veterinario]="veterinario" (edit)="toggleUpdatePopup($event)" (delete)="toggleDeletePopup($event)">
    </app-veterinario-card>
  </div>

  <div class="pagination">
    <button>&lt;</button>
    <span>1 / 1</span>
    <button>&gt;</button>
  </div>
</div>

<!--create-->
<app-veterinario-popup [(display)]="displayCreatePopup" (confirm)="onConfirmCreate($event)" title="Crear veterinario"></app-veterinario-popup>

<!--update-->
<app-veterinario-popup [veterinario]="selected" [(display)]="displayUpdatePopup" (confirm)="onConfirmUpdate($event)" title="Editar veterinario"></app-veterinario-popup>
