<p-dialog [header]="title" [(visible)]="display" [modal]="true" [closable]="false">

  <div class="column gap-1 form-wrapper" [formGroup]="atencionForm">

    <div class="row gap-05">
      <span class="label">Nro. Hist. Clinica:</span>
      <input type="number" formControlName="idAnimal">
    </div>

    <div class="row gap-05">
      <span class="label">Atencion:</span>
      <input type="text" formControlName="resultado">
    </div>

    <div class="row gap-05">
      <span class="label">Observaciones:</span>
      <input type="text" formControlName="observaciones">
    </div>

    <div class="row gap-05">
      <label for="idVeterinario">Veterinario:</label>
      <select id="idVeterinario" formControlName="idVeterinario">
        <option *ngFor="let veterinario of veterinarios" [value]="veterinario.idVeterinario">
          {{ veterinario.nombreYApellido }}
        </option>
      </select>
    </div>

    <!-- <div class="row gap-05">
      <label>Insumos:</label>
      <div *ngFor="let insumo of insumos" class="insumo-selection">
        <div>
          <span>{{ insumo.descripcion }} (Stock: {{ insumo.stock }})</span>
          <input type="number" min="1" max="{{ insumo.stock }}" [placeholder]="'Cantidad'"
            (change)="addInsumoFromEvent(insumo.codInsumo ?? 0, $event)" />
          <button type="button" (click)="removeInsumo(insumo.codInsumo ?? 0)">Remove</button>
        </div>
      </div>
    </div> -->

  <div *ngFor="let control of insumoSelectionsControls; let i = index" [formGroup]="control" class="row gap-1">
    <!-- Dropdown to select insumo -->
    <select formControlName="idInsumo"
      (change)="onInsumoChange(i, $event)"
    >

      <option value="0" disabled >Insumo</option>
      <option *ngFor="let insumo of insumos" [value]="insumo.codInsumo">
        {{ insumo.descripcion }} ({{ insumo.stock }}u.)
      </option>

    </select>

    <!-- Input for quantity -->
    <input 
      class="cantidad"
      type="number" 
      min="1" 
      [max]="getStockLimit(control.get('idInsumo')?.value)"
      formControlName="cantidad" 
      placeholder="..." 
    />

    <div class="warning" *ngIf="validateQuantity(i)">
      {{ validateQuantity(i) }}
    </div>


    <!-- Button to remove a selection -->
    <button type="button" class="options" (click)="removeInsumoSelection(i)" [disabled]="insumoSelections.length === 1">
      <img class="img" src="remove.svg" alt="Borrar">
    </button>

    <!-- Button to add a new insumo selection -->
    <button type="button" class="options" (click)="addInsumoSelection()">
      <img class="img" src="add.svg" alt="Agregar">
    </button>

  </div>

  </div>


  <p-footer>
    <button type="button" class="btn" (click)="onConfirm()" [class.disabled]="!atencionForm.valid">Confirmar</button>

    <button type="button" class="cancel" (click)="onCancel()">Cancelar</button>
  </p-footer>

</p-dialog>