<p-dialog [header]="title" [(visible)]="display" [modal]="true" [closable]="false">

  <div class="column gap-1 form-wrapper" [formGroup]="atencionForm">

    <div class="row gap-05">
      <span class="label">Nro. Hist. Clinica:</span>
      <input type="number" formControlName="idAnimal">
    </div>

    <div class="row gap-05">
      <span class="label">Atencion:</span>
      <input type="text" formControlName="resultado">
    </div>

    <div class="row gap-05">
      <span class="label">Observaciones:</span>
      <input type="text" formControlName="observaciones">
    </div>

    <div class="row gap-05">
      <label for="idVeterinario">Veterinario:</label>
      <select id="idVeterinario" formControlName="idVeterinario">
        <option *ngFor="let veterinario of veterinarios" [value]="veterinario.idVeterinario">
          {{ veterinario.nombreYApellido }}
        </option>
      </select>
    </div>

  <div *ngFor="let control of insumoSelectionsControls; let i = index" [formGroup]="control" class="row gap-1">
    
    <select formControlName="idInsumo" (change)="onInsumoChange(i, $event)">

      <option *ngIf="i === 0 && insumoSelections.length === 1" value="0">No utilizó insumos</option>
      <option 
        *ngFor="let insumo of getAvailableInsumos(i)" 
        [value]="insumo.codInsumo"
      >
        {{ insumo.descripcion }} ({{ insumo.stock }}u.)
      </option>

    </select>

    <!-- Cantidad -->
    <input 
      class="cantidad"
      type="number" 
      min="1" 
      [max]="getStockLimit(control.get('idInsumo')?.value)"
      formControlName="cantidad" 
      placeholder="..." 
      [class.invalid]="validateQuantity(i)"
    />

    <!-- Remover insumo -->
    <button type="button" class="options" (click)="removeInsumoSelection(i)" [disabled]="insumoSelections.length === 1">
      <img class="img" src="remove.svg" alt="Borrar">
    </button>

    <!-- Agregar insumo -->
    <button type="button" class="options" (click)="addInsumoSelection()" [disabled]="!canAddNewSelection() || getAvailableInsumos(-1).length === 0"> 
      <img class="img" src="add.svg" alt="Agregar">
    </button>

  </div>

  </div>

  <p-footer>
    <button type="button" class="btn" (click)="onConfirm()" [class.disabled]="!atencionForm.valid">Confirmar</button>

    <button type="button" class="cancel" (click)="onCancel()">Cancelar</button>
  </p-footer>

</p-dialog>

<p-toast></p-toast>