.img {
  height: 25px;
}

.options {
  padding: 0;
  margin: 0;
  border: none;
  background-color: white;
}

button:disabled {
  opacity: 50%;
}

.cantidad {
  width: 30px;
}

.invalid {
  border: 2px solid #ff6666;
  border-radius: 3px;
  outline: none;
}