<p-dialog [header]="title" [(visible)]="display" [modal]="true" [closable]="false">

    <div class="column gap-1 form-wrapper" [formGroup]="insumoForm">

        <div class="row gap-05">
            <span class="label">Descripción:</span>
            <input type="text" formControlName="descripcion">
        </div>

        <div class="row gap-05">
            <span class="label">Stock:</span>
            <input type="number" formControlName="stock">
        </div>

        <div class="row gap-05">
            <span class="label">Fecha de vencimiento:</span>
            <input type="date" formControlName="fechaVencimiento">
        </div>

        <div class="row gap-05">
            <label for="idTipoInsumo">Tipo de Insumo:</label>
            <select id="idTipoInsumo" formControlName="idTipoInsumo">
              <option *ngFor="let tipo of tiposInsumo" [value]="tipo.codTipoInsumo">
                {{ tipo.descripcion }}
              </option>
            </select>
        </div>
        
        <!-- solo si se esta creando -->

        <div class="row gap-05" *ngIf="isCreating">
            <span class="label">Precio:</span>
            <input type="number" formControlName="valor">
        </div>

        <div class="row gap-05" *ngIf="isCreating">
            <span class="label">Precio venta:</span>
            <input type="number" formControlName="valorVenta">
        </div>

    </div>

    <p-footer>
        <button type="button" class="btn" (click)="onConfirm()" [class.disabled]="!insumoForm.valid">Confirmar</button>

        <button type="button" class="cancel" (click)="onCancel()">Cancelar</button>
    </p-footer>

</p-dialog>