p {
  padding: 0.5rem;
  color: black;
  font-size: 1.1rem;
  max-width: 300px;
  overflow-x: auto;
}

h2 {
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}

.insumo-list {
  list-style: none;
  text-align: center;
  font-weight: bold;

  padding: 0.5rem;
  border-radius: 5px;

  &::before {
    content: "•";
    color: #80d4ff;
    font-weight: bold;
    display: inline-block;
    width: 15px;
  }

}