<div class="veterinario-card">
  <h3>{{ veterinario.nombreYApellido }}</h3>
  <p><strong>Nro. Matricula: </strong>{{ veterinario.nroMatricula }}</p>

  <div class="actions">
    <button type="button" class="btn">Ver</button>

    <button type="button" (click)="editVeterinario()" class="edit">Editar</button>

    <button type="button" (click)="confirmDelete()" #deleteButton class="delete">Eliminar</button>
  </div>
</div>

<p-confirmPopup defaultFocus="none" styleClass="p-confirmPopup"></p-confirmPopup>