@import './styles/variables.scss';
@import './styles/theme-overrides.scss';

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-15 {
  margin-top: 15px;
}

.mb-25 {
  margin-top: 25px;
}

.wrap {
  flex-wrap: wrap;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: right;
}

.full-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .image-placeholder {
      width: 100%;
      height: 150px;
      background-color: #eaeaea;
      border: 2px solid #ddd;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }

    .button-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .btn {
      background-color: #80d4ff;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      transition: background-color 0.3s;

      &:hover {
        background-color: #66c2ff;
      }
    }

    .salir {
      background-color: #ff6666;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #ff4d4d;
      }
    }
  }
}

@media (min-width: 650px) {
  .menu-container {
    .content {
      .image-placeholder {
        width: 300px;
        height: 200px;
      }

      h2 {
        font-size: 1.5rem;
      }

      .button-group {
        flex-direction: row;
        gap: 10px;
        width: auto;
      }

      .btn {
        padding: 15px 30px;
        font-size: 18px;
      }
    }
  }
}