<h2>Insumos</h2>

<div class="insumos">

  <button class="btn" (click)="toggleCreatePopup()">Nuevo</button>
  <button class="btn" routerLink="/tipos-insumos">Tipos de Insumos</button>

  <div>
    <input
      type="text"
      [(ngModel)]="insumoFiltro"
      (input)="findInsumos()"
      placeholder="Buscar por nombre"
      class="search-input"
    />
  </div>

  <div *ngFor="let insumo of insumos">
    <app-insumo-card [insumo]="insumo" (edit)="toggleUpdatePopup($event)" (delete)="toggleDeletePopup($event)" (select)="toggleSelectPopup($event)" (price)="togglePricePopup($event)">
    </app-insumo-card>
  </div>

<!--create-->
<app-insumo-popup [(display)]="displayCreatePopup" [isCreating]="true" (confirm)="onConfirmCreate($event)" title="Crear insumo"></app-insumo-popup>

<!--update-->
<app-insumo-popup [insumo]="selected" [(display)]="displayUpdatePopup" [isCreating]="false" (confirm)="onConfirmUpdate($event)" title="Editar insumo"></app-insumo-popup>

<app-insumo-ver-popup [insumo]="selected" [tipoInsumo]="tipoInsumo" [(display)]="displaySelectPopup"></app-insumo-ver-popup>

<app-insumo-precio [insumo]="selected" [precioInsumo]="selectedPrecio" [(display)]="displayPricePopup" title="Nuevo precio" ></app-insumo-precio>
