<h2>Insumos</h2>

<div class="insumos">

  <!--Crear vet-->
  <button class="btn" (click)="toggleCreatePopup()">Nuevo</button>

  <div>
    <input
      type="text"
      [(ngModel)]="insumoFiltro"
      (input)="findInsumos()"
      placeholder="Buscar por descripción"
      class="search-input"
    />
  </div>

  <div *ngFor="let insumo of insumos">
    <app-insumo-card [insumo]="insumo" (edit)="toggleUpdatePopup($event)" (delete)="toggleDeletePopup($event)">
    </app-insumo-card>
  </div>

  <div class="pagination">
    <button>&lt;</button>
    <span>1 / 1</span>
    <button>&gt;</button>
  </div>
</div>

<!--create-->
<app-insumo-popup [(display)]="displayCreatePopup" (confirm)="onConfirmCreate($event)" title="Crear insumo"></app-insumo-popup>

<!--update-->
<app-insumo-popup [insumo]="selected" [(display)]="displayUpdatePopup" (confirm)="onConfirmUpdate($event)" title="Editar insumo"></app-insumo-popup>
