.especie-card {
    background: #f0f4f8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }
  
  .especie-card-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:nth-child(1) {
    background-color: #4caf50; /* Color para el botón Editar */
    color: white;
  }
  
  button:nth-child(2) {
    background-color: #f44336; /* Color para el botón Eliminar */
    color: white;
  }
  
  button:nth-child(3) {
    background-color: #2196f3; /* Color para el botón Ver Razas */
    color: white;
  }
  